/*CONTACTO*/

.contact {
    text-align: center;
    padding: 20px 0;
  
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 16px;
      color: #666;
      margin-bottom: 40px;
    }
  
    form {
      max-width: 600px;
      margin: 0 auto;
    }
  
    label {
      display: block;
      font-size: 16px;
      margin-bottom: 10px;
      color: #333;
    }
  
    input {
  
      &[type="text"],
      &[type="email"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }
  
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      height: 150px;
    }
  
    button[type="submit"] {
      background-color: $primary-color;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: $accent-color;
      }
    }
  }
  